@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@400;600&display=swap');

:root {
    --main-color: #212428;
    --element-color: #202226;
    --shadow-color: #1a1c20;
    --accent-color: #ff014e
}

.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: url("../images/buisinesPeople.jpg");
    background-size: cover;
}

.backgroundShadow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-color);
    opacity: .4;
    font-family: 'Finlandica', sans-serif;
}